<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="D:\home\Python313\python.exe"
                  arguments="D:\home\site\wwwroot\application.py"
                  stdoutLogEnabled="false"
                  stdoutLogFile="D:\home\site\LogFiles\python.log"
                  startupTimeLimit="600">
      <environmentVariables>
        <environmentVariable name="PORT" value="8000"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>